<head data-th-fragment="head">
    <title>E-learning</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/remarque.css">

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js" ></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <!--===============================================================================================-->

    <link rel="stylesheet" href="/css/upCours.css">
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>


    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="/js/chart.js" ></script>



</head>