<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head data-th-replace="fragements/head :: head"></head>

<body>

<div class="wrapper d-flex align-items-stretch">
    <div data-th-replace="fragements/menu-sidebar :: menu-sidebar"></div>


    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
        <div data-th-replace="fragements/menu-navbar :: menu-navbar"></div>
        <div class = "container">
            <h1 class="text-center mb-5">E-Learning</h1>
                <br>

            <div class="row" style="margin-bottom: 4%">

                <div class="col-sm-3">
                    <div class="card "  style="color: black; background-color:#b1dfbb ">
                        <div class="card-header">
                            <h6 class="card-title text-center">Nombre de cours</h6>
                        </div>
                        <div class="card-body">
                            <h2 class="card-text text-center" th:text="${cours.size()}"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card "  style="color: black; background-color: #ff5c33">
                        <div class="card-header">
                            <h6 class="card-title text-center">Nombre de Filières</h6>
                        </div>
                        <div class="card-body">
                            <h2 class="card-text text-center" th:text="${filieres.size()}"></h2>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card" style="color: black; background-color:  #ffff99"  >
                        <div class="card-header">
                            <h6 class="card-title text-center">Nombre d etudiants</h6>
                        </div>
                        <div class="card-body">
                            <h2 class="card-text text-center" th:text="${userEtu.size()}"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card "  style="color: black; background-color: #1ABB9C">
                        <div class="card-header">
                            <h6 class="card-title text-center">Nombre d professeurs</h6>
                        </div>
                        <div class="card-body">
                            <h2 class="card-text text-center" th:text="${userProf.size()}"></h2>
                        </div>
                    </div>
                </div>



            </div>
        <br>

            <div class="row" >

                <div class="col-sm-12" style=" margin-bottom: 4%">
                    <div class="card ">
                        <div class="card-body">
                            <h3 style="text-align: center; color: green ">Nombre d etudiants et d etudiantes </h3>
                            <br>
                            <div class="row">
                                <div class="col-sm-6"  >
                                    <div class="card "  >
                                        <div class="card-body">
                                            <div id="piechart1"  ></div>


                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6" >
                                    <div class="card "  >
                                        <div class="card-body">
                                            <div id="chart_div1" ></div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-sm-12" style=" margin-bottom: 5%">
                    <div class="card ">
                        <div class="card-body">
                            <h3 style="text-align: center; color: olivedrab; margin-bottom: 2%">Nombre d etudiants et de professeurs </h3>
                            <div class="row">
                                <div class="col-sm-6"  >
                                    <div class="card "  >
                                        <div class="card-body">
                                            <div id="chart_div" ></div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6" >
                                    <div class="card "  >
                                        <div class="card-body">
                                            <div id="piechart"  ></div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>



                <div class="col-sm-12" align="center" style="width: 1000px;">
                    <div class="card ">
                        <div class="card-body">
                            <div >
                                <h3 style="text-align: center; color: olive">Nombre de cours dans chaque filiere</h3>
                                <div id="piechart2"  style="width: 800px; height: 400px;"></div>
                            </div>

                        </div>
                    </div>

                </div>
                    <script th:inline="javascript">
                        var real_data = /*[[${chartData}]]*/'noValue';
                        var real_data1 = /*[[${chartData2}]]*/'noValue';
                        var real_data2 = /*[[${chartData3}]]*/'noValue';

                        $(document).ready(function() {
                            google.charts.load('current', {
                                packages : [ 'corechart', 'bar' ]
                            });
                            google.charts.setOnLoadCallback(drawPieChart);
                            google.charts.setOnLoadCallback(drawPieChart1);
                            google.charts.setOnLoadCallback(drawPieChart2);
                            google.charts.setOnLoadCallback(drawColumnChart);
                            google.charts.setOnLoadCallback(drawColumnChart1);


                        });

                        function drawPieChart() {
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Type d utilisateurs');
                            data.addColumn('number', 'Nombre de chaque type');
                            Object.keys(real_data).forEach(function(key) {
                                data.addRow([ key, real_data[key] ]);
                            });
                            var options = {
                                title : ''
                            };
                            var chart = new google.visualization.PieChart(document
                                .getElementById('piechart'));
                            chart.draw(data, options);
                        }
                        function drawColumnChart() {
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Type d utilisateurs');
                            data.addColumn('number', 'Nombre de chaque type');
                            Object.keys(real_data).forEach(function(key) {
                                data.addRow([ key, real_data[key] ]);
                            });
                            var options = {
                                title : '',
                                hAxis : {
                                    title : 'Type d utilisateurs',
                                },
                                vAxis : {
                                    title : 'Nombre de chaque type'
                                }
                            };
                            var chart = new google.visualization.ColumnChart(document
                                .getElementById('chart_div'));
                            chart.draw(data, options);
                        }



                        function drawPieChart1() {
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Type d etudiants');
                            data.addColumn('number', 'Nombre de chaque type');
                            Object.keys(real_data1).forEach(function(key) {
                                data.addRow([ key, real_data1[key] ]);
                            });
                            var options = {
                                title : ''
                            };
                            var chart = new google.visualization.PieChart(document
                                .getElementById('piechart1'));
                            chart.draw(data, options);
                        }
                        function drawColumnChart1() {
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Type d etudiants');
                            data.addColumn('number', 'Nombre de chaque type');
                            Object.keys(real_data1).forEach(function(key) {
                                data.addRow([ key, real_data1[key] ]);
                            });
                            var options = {
                                title : '',
                                hAxis : {
                                    title : 'Type d etudiants',
                                },
                                vAxis : {
                                    title : 'Nombre de chaque type'
                                }
                            };
                            var chart = new google.visualization.ColumnChart(document
                                .getElementById('chart_div1'));
                            chart.draw(data, options);
                        }


                        function drawPieChart2() {
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Filieres');
                            data.addColumn('number', 'Nombre de cours');
                            Object.keys(real_data2).forEach(function(key) {
                                data.addRow([ key, real_data2[key] ]);
                            });
                            var options = {
                                title : '',

                            };
                            var chart = new google.visualization.PieChart(document
                                .getElementById('piechart2'));
                            chart.draw(data, options);
                        }


                    </script>





        </div>

    </div>
    </div>
</div>
<div data-th-replace="fragements/script :: script"></div>


</body>
</html>