<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head data-th-replace="fragements/head :: head">

</head>


<body >

<div class="wrapper d-flex align-items-stretch">
    <div data-th-replace="fragements/menu-sidebar :: menu-sidebar"></div>

    <div id="content" class="p-4 p-md-5">
        <div data-th-replace="fragements/menu-navbar :: menu-navbar"></div>

        <div class="row">
            <div class="col">

            </div>
        </div>


        <div class = "container">

            <button class="btn btn-success newBtn "><i class="fa fa-plus"></i></button>
            <br><br>
            <h2 class="text-center mb-5">Liste des Utilisateurs</h2>
            <br>
            <nav class="navbar navbar-expand-lg navbar navbar-light bg-light">


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                    </ul>
                    <form class="forms-sample" th:action="@{/users/search}">

                        <div class="input-group">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent">
                                   <a th:href="@{/users}"><i class="fa fa-refresh"></i></a>
                                </span>
                            </div>

                            <input class="form-control mr-sm-2" type="text"  placeholder="Rechercher" aria-label="Username" aria-describedby="colored-addon1"
                                   name="s" id="search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
                        </div>
                    </form>
                </div>
            </nav>
            <br>
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successmessage}">
                <strong th:text="${successmessage}"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">

                <div class="card-block">

                    <table id="tableUsers" class="table table-hover"  >
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Genre</th>
                            <th>Role</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each ="user :${users}">
                            <td th:text="${user.nom}"></td>
                            <td th:text="${user.prenom}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.genre}"></td>
                            <td th:text="${user.getRole().getRole()}"></td>
                            <td th:text="${user.createdDate}"></td>


                            <td style="text-align: center">
                                <a class="btn btn-primary" th:href="@{/users/findUser/{id}(id=${user.id})}"><i class="fa fa-edit"></i></a>
                                <a  class="btn btn-danger delBtn" th:href="@{/users/{id}/delete(id=${user.id})}"><i class="fa fa-remove"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                    <hr/>

                </div>
            </div>


            <div class="myForm">
                <div data-th-replace="fragements/ajouter :: ajouter"></div>


            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="alert alert-danger">
                                Voulez-vous vraiment supprimer cet utilisateur?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <a href =""  class="btn btn-danger"  id="delRef">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div data-th-replace="fragements/script :: script"></div>








</body>
</html>